@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media screen and (max-width: 1200px) {

  }
  @media screen and (max-width: 992px) {
    ul.website-navigation.nav-inline {
      position: fixed;
      display: block !important;
      background: #fff;
      width: 250px;
      left: 0px;
      height: 100vh;
      box-shadow: 7px 0px 20px -3px rgb(0 0 0 / 10%);
      top: 70px;
      border: 1px solid #ccc;
      transition: all .5s ease-in;
      margin-left: -400px;
    }
    ul.website-navigation.nav-inline li {
      display: block;
      padding: 10px 20px;
      margin: 0px;
    }
    ul.website-navigation.nav-inline li a {
      border-bottom: 1px solid #ccc;
      display: block;
    }
    ul.website-navigation.nav-inline li button {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {

    section.page-section.banner-section .row .col-sm-12:nth-child(1) {
      order: 1;
    }
    p,.para-text {
      font-size: 14px;
    }
    p.banner-sub-title {
      margin-bottom: 20px;
      text-align: center;
    }
    h3.section-title {
      font-size: 25px;
      margin-bottom: 10px;
      text-align: center;
    }
    .section-sub-title {
      margin-bottom: 10px;
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center;
    }
    ul.banner-nav li a {
      font-size: 14px;
      
    }
    .app-for-every-one .col-sm-4 {
      text-align: center;
    }
    footer {
      text-align: center;
      padding: 10px 0px;
  }
  h1.Banner-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
ul.nav-inline.banner-nav {
    justify-content: center;
}
ul.banner-action-btns {
    justify-content: center;
}
ul.banner-action-btns {
    justify-content: center;
}
section.page-section {
    padding: 30px 0px;
}

p.para-text {
    text-align: center;
}
p.para-text {
    text-align: center;
}




  }
  @media screen and (max-width: 576px) {
    section.page-section {
      padding: 25px 0px;
  }
  .Banner-title {
    font-size: 25px;
    

  }



  @media screen and (max-width: 500px) {
    .slide-box {
      padding: 0 55px;
    }
  }